<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= title%> </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">



</head>
<body>
    <div class="container">
        <h1> <%= title%> </h1>

        <form  action="/agregar_prod" method="post" autocomplete="off">
            <div class="form-group">
                <input type="text" id="codigo" class="form-control" name="codigo" placeholder="Codigo del producto">
            </div>

            <div class="form-group">
              <div class="mayus">
                <input type="text" id= "tipo" class="form-control" name="tipo" placeholder="Tipo de producto">
              </div>
            </div>

            <div class="form-group">
                <input type="text" id="material" class="form-control" name="material" placeholder="Tipo de material">
            </div>

            <div class="form-group">
                <input type="text" id="piedra" class="form-control" name="piedra" placeholder="Piedra Preciosa">
            </div>

            <div class="form-group">
                <input type="text" id="descripcion" class="form-control" name="descripcion" placeholder="Descripcion">
            </div>


            <div class="form-group">
                <input type="number" id="precio" class="form-control" name="precio" placeholder="Precio del producto">
            </div>

            <div class="form-group">
                <button class="btn btn-primary">
                    Agregar
                </button>
                <a class="btn btn-secondary" href="/productos"><i class="fa fa-list-alt"></i>Ver Todo</a>
            </div>
        </form>


</body>
</html>
