<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Productos </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <h1> Productos </h1>

        <form  action="/buscar_producto" method="post" autocomplete="off">
            <div class="form-group">
                <input type="text" id="codigo" class="form-control" name="codigo" placeholder="Codigo del producto">
            </div>

            <div class="form-group">
                <button class="btn btn-primary">
                    Buscar
                </button>
            </div>
        </form>


</body>
</html>
